* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}

/* Buttons Start */
.btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    cursor: pointer;
    padding: 16px 26px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}

.btn-small {
    display: inline-block;
    border: 1px solid rgb(64, 64, 64);
    color: rgb(64, 64, 64);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 14px;
    border-radius: 5px;
    transition: all 0.4s;
}

.btn-small:hover {
    letter-spacing: 1.5px;
    color: rgb(4, 120, 185);
    border: 1px solid rgb(4, 120, 185);
}


.primary-btn {
    color: rgb(4, 120, 185);
    background-color: rgb(255, 255, 255);
}

.primary-btn:hover {
    background-color: rgb(255, 212, 46);
    color: rgb(51, 51, 51);
    box-shadow: rgb(2, 73, 120) 5px 5px 15px;
    letter-spacing: 1.5px;
}

.secondary-btn {
    background-color: rgb(255, 212, 46);
    color: rgb(51, 51, 51);
}

.secondary-btn:hover {
    color: rgb(4, 120, 185);
    background-color: rgb(255, 255, 255);

    letter-spacing: 1.5px;
}
/* Buttons End*/


/* Header Section Start */
.header {
    background-image: url("../images/banner/banner-illustration.png"), url("../images/banner/banner-bg.png");
    height: 100vh;
    width: 100%;
    background-size: contain, cover;
    position: relative;
}

.header::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: block;
    background-image: linear-gradient(297.52deg, rgb(4, 120, 185) 18.76%, rgba(4, 120, 185, 0.9) 43.62%, rgba(4, 120, 185, 0) 75.48%);
}

.header__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0px 120px;
}

.header__content {
    width: 45%;
    z-index: 2;
    text-align: right;
}

.header__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 76px;
    color: rgb(255, 255, 255);
    margin-bottom: 24px;
}

.header__description {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: rgb(255, 255, 255);
    margin-bottom: 32px;
}
/* Header Section End */



/* Previous Year Section End */
.previous-year {
    padding: 80px 160px;
    display: flex;
    align-items: center;
}

.previous-year__image {}

.previous-year__image img {
    max-width: 530px;
}

.previous-year__content {
    padding-left: 100px;
}

.previous-year__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: rgb(21, 20, 20);
    margin-bottom: 24px;
}

.previous-year__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgb(68, 67, 67);
    margin-bottom: 16px;
}

.previous-year__todo-list {
    list-style-type: none;
}

.previous-year__list-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    color: rgb(68, 67, 67);
}

.previous-year__list-item i {
    color: rgb(8, 181, 77);
    padding-right: 10px;
}
/* Previous Year Section Start */


/* My Plans Section Start */
.my-plans {
    padding: 80px 200px;
}

.my-plans__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: rgb(21, 20, 20);
    margin-bottom: 60px;
}

.my-plans__content {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.my-plans__skill {}

.my-plans__icon {
    width: 80px;
    display: block;
    margin: 0px auto 20px;
}

.my-plans__skill-title {
    font-weight: 700;
    font-size: 24px;
    color: rgb(51, 51, 51);
    margin-bottom: 5px;
}

.my-plans__skill-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgb(115, 114, 114);
}
/* My Plans Section End */



/* My Work Section Start */
.my-work {
    padding:80px 200px 0 200px;
    text-align: center;
}

.my-work__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: rgb(21, 20, 20);
    margin-bottom: 60px;
}

.my-work__gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    margin-bottom: 30px;
}

.my-work__project {
    position: relative;
    cursor: pointer;
}

.my-work__project::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(102, 51, 153, 0);
    transition: all 0.4s;
}


.my-work__project:hover::after{
    background-image: linear-gradient(to top,rgb(255, 212, 46),rgba(0, 128, 0, 0));
    height: 100%;
}


.my-work__image {
    max-width: 100%;
    display: block;
}

.my-work__caption {
    position: absolute;
    bottom: 0;
    left: 15px;
    z-index: 5;
    opacity: 0;
    transition: all 0.4s;
}
.my-work__project:hover .my-work__caption {
    opacity: 1;
    bottom: 15px;
}
/* My Work Section End */


/* Call To Action Section Start */
.call-to-action {
    height: 300px;
    margin: 80px 200px;
    padding: 0px 65px;
    background-image: url("../images/gradient1.png"), url("../images/watch.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    background-blend-mode: hard-light;
}

.call-to-action__content {
    width: 60%;
}

.call-to-action__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: rgb(255, 255, 255);
    margin-bottom: 24px;
}

/* Call To Action Section End */

/* Footer Section Start */
.footer {
    padding: 120px 200px;
    background-color: rgb(21, 20, 20);
}

.footer-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.footer__details {
    padding-right: 110px;
}

.footer-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: rgb(248, 248, 248);
    margin-bottom: 24px;
}

.footer__description {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: rgb(255 255 255 / 85%);
    margin-bottom: 15px;
}

.footer__social-icons {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.footer__social-icon {
    cursor: pointer;
    transition: all 0.4s ease 0s;
    border-radius: 50%;
    padding: 3px;
}

.footer__social-icon img {
    width: 100%;
    display: block;
}

.footer__social-icon:hover {
    transform: scale(0.9);
    box-shadow: rgba(108, 187, 240, 0.737) 0px 0px 20px;
}

.footer__subscribe {
    /* width: 50%; */
}

.footer__subscribe-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.footer__subscribe-input {
    padding: 16px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 15px;
    display: block;
    width: 100%;
}

/* Footer Section End */